* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
body {
    background: #080808;
    color: #fff;
}
.logo {
    position: relative;
    margin: 5px 5px 5px 36px

}

.hero{
    height: 1vh;
    width: 100%;
    /*background-image: url(../../../webapp/WEB-INF/img/pexels-cátia-matos-1072179.jpg);*/
}

a {
    font-style: italic;
    color: ghostwhite;
}
nav {
    display: block;
    /*
    display: flex;
    */
    position: relative;
    background-image:linear-gradient(350deg,#414141,#000000);
    /*    background-image: linear-gradient(315deg, rgb(229 236 237) 0%, rgb(13 79 166) 74%);*/
    overflow: hidden;
}


div#sub-nav {
    height: 4.5vh;;
    width: 100%;
    background-color: ghostwhite;
    position: static;
}



ul {
    justify-content: space-evenly;
    display: flex;
}
li {
    color: mediumturquoise;
}
nav ul li {

}

sub-nav {
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(315deg, rgb(229 236 237) 0%, rgb(13 79 166) 74%);
}


#opening-statements {
    margin: 15px;
    display: flex;
}
#opening-statements h1 {
    margin: 0 10px 0 0 ;
    opacity: 0.5;
    transition: opacity ease-in-out 0.25s;
}
#opening-statements h1:hover {
    opacity: 1;
   /* color: firebrick;*/
    z-index: 1;
}
#opening-statements h3 {
    margin: 42px 11px 18px 20%;
    opacity: 0.5;
    transition: opacity ease-in-out 0.25s;

}
#opening-statements h3:hover {
    opacity: 1;
}
#opening-statements p {
    padding: 10px 5px 5px 5px;
}

.par {
    /*    margin: 15px 10px 15px 10px;*/
    margin: 30px 10px 15px 21px;
    flex-direction: column;
}

.par .par-one {

}

.par .par-three {

}

.foot-note {
    font-size: xx-small;
    margin: 50px 0px 0px;

    padding: 25px 15px;
    z-index: 1;
}
#img-container {
    justify-content: center;
}
#img-container-two {
    justify-content: space-evenly;
    transition: opacity ease-in-out 0.25s;


}
#img-container-two:hover{
    transform: scale(1.2%);
}
#img-container, #img-container-two {
    display: flex;
    align-items: center;
}
.set-holder {
    width: 30%;
    height: 42vh;
}
.set-holder p {
flex-direction: column;
    text-align: center;
}

.img-holder, .img-holder-two  {

    height: 30vh;
    width: 60%;
    margin: 20px 0 0 0;
    border: solid ghostwhite 3px ;
    background-image: linear-gradient(#8B939A, #5B6467);
    background-color: grey;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden

}
.img-holder img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}
.img-holder-two {
    position: relative;
    height: 15vh;!important;
    width: 100%;!important;

}

footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}
footer p {
    text-align: center;
}


/*test*/

.feedback {
    background-color : #293234;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    border-color: #6f8991;
}

.mybutton {
    position: fixed;
    bottom: -4px;
    right: 10px;
}